body {
    padding-top: 60px;
    padding-bottom: 40px;
    background: silver;
}
.bar-sylizer{
	color: white;
}


iframe{
	border:30px solid black;
	border-radius:10px;
	width: 1024px;
	height: 768px;
}

#pixel-slider {
	width: 260px;
	margin: 15px;
}
